*{
    margin: 0;
    padding:0;
}
@font-face {
	font-family: 'Kanit Cyrillic'; 
	src: url(/fonts/Kanit\ Cyrillic.ttf); 
}
body{
    font-family: Kanit Cyrillic;
    background-color: black;
    background-image: url("IMG GLAVNAI/фон2.png"); 
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;  
    height: 100%;
}

button {
    cursor: pointer;
}

.container{
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 1280px) {
    .container {
        width: 90%;
    }
}

/* шапка  */

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.header #burgerMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header #burgerMenu div {
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background: #000;
    z-index: 999;
    margin-right: 10px;
}


@media (max-width: 1280px) {
    .container {
        overflow-x: hidden;
    }
    .header .list {
        display: none;
    }
    .header .list {
        display: none;
        flex-direction: column;
        gap: 30px;
        background: #fff;

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: center;

        transition: 0.3s ease-in-out;
        opacity: 0;
    }
    .header.active .list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: #fff;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    .header.active .list a {
        color: #000;
    }
    .header.active #burgerMenu div {
        background: #000;
    }

    .header.active #Logo p {
        color: #000;
    }

    .header #burgerMenu {
        display: flex; 
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        left: 100%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}


/* текст в шапке */
a{
    text-decoration: none;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
}
/* текст с лого в шапке */
.TextLogo{
    font-family: 'Kanit Cyrillic'; 
    font-size: 20px;
    color: white;
}
.Logotype{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

@media (max-width: 768px) {
    .Logotype {
        gap: 10px;    
    }

    .Logotype img {
        width: 60px;
    }

    .TextLogo {
        font-size: 16px;
    }
}

.heading{
    font-size: 85px;
    color: white;
}
.subtitle{
    font-family: 'Kanit Cyrillic'; 
    font-size: 40px;
    color: white;
    text-align: left;
}
.subtitle2{
    font-family: 'Kanit Cyrillic'; 
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.subtitle3{
    font-family: "Inter";
    font-size: 32px;
    color: white;
}
.text{
    font-family: "Inter";
    font-size: 24px;
    color: white;
    font-weight: 300;
    text-align: left;
}
.text2{
    font-family: "Inter";
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}


@media (max-width: 768px) {
    .heading {
        font-size: 42px;
    }
    .subtitle{
        font-size: 32px;
    }
    .subtitle2{
        font-size: 40px;
    }
    .subtitle3{
        font-size: 32px;
    }
    .text{
        font-size: 18px;
    }
    .text2{
        font-size: 24px;
    }
}

.xz{
    font-family: "Inter";
    font-size: 36px;
    color: white;
}
.xz2{
    font-family: "Inter";
    font-size: 96px;
    color: white;
}

@media (max-width: 1280px) {
    .xz {
        font-size: 32px;
    }
    .xz2 {
        font-size: 82px;
    }
}

.xz {
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .xz {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .xz2 {
        font-size: 48px;
    }
}

.minitext{
    font-family: "Inter";
    font-size: 24px;
    color: white;
    font-weight: 50;
}
.violet{
    width: 200px;
    height: 60px;
    background-color: #6D0FCF;
    font-family: "Inter";
    font-size: 24px;
    color: white;
    border-radius: 15px;
    border: none;
    margin-top: 35px;
}

@media (max-width: 768px) {
    .violet {
        font-size: 18px;
        width: 160px;
        height: 50px;
        margin-top: 20px;
    }

    .green {
        font-size: 18px;
        width: 300px;
    }
}

/* Эффект */
.violet:hover {
    background-color: #8a1dff; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.violet:active {
    background-color: #000000;
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head1{
    margin-top: 150px;
}
.block2{
    margin-top: 120px;
}
.block2 .text {
    margin-top: 40px;
}

.text {
    line-height: 120%;
}

@media (max-width: 768px) {
    .block4 {
        display: none;
    }
}

@media (max-width: 768px) {
    .head1 {
        margin-top: 80px;
    }

    .block2 .text {
        margin-top: 20px;
    }

    .block2 {
        margin-top: 40px;
    }
}

.glavFLex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
}
.glavFLex .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    border-radius: 15px;
    border: 1px solid #6D0FCF;
    padding: 15px;
    max-width: 440px;
    flex: 1 0 30%;
    min-height: 220px;
    max-height: 220px;
    justify-content: center;
    min-width: 310px;
    box-sizing: border-box;
}

.block3{
    margin-top: 120px;
}
.block4{
    margin-top: 120px;
}

@media (max-width: 1280px) {
    .block3 {
        text-align: center;
    }
    .block4 {
        text-align: center;
    }
    .block5 {
        text-align: center;
    }
    .block6 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .block3 .glavFLex {
        margin-top: 20px;
    }

    .block3 {
        margin-top: 40px;
    }
}

.grafdis{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.odegda{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.flexGL{
    display: flex;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 116px;
    align-items: center;
}
.landhaft{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.ux{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.flexGL2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}
.flexGL3{
    display: flex;
    justify-content: space-between;
    padding-left: 116px;
    padding-right: 116px;
    align-items: center;
    margin-top: 60px;
}
.trd{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.video{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 440px;
    height: 100px;
    padding-left: 15px;
}
.block5{
    margin-top: 120px;
}

@media (max-width: 768px) {
    .block5 {
        margin-top: 40px;
    } 

    .block5 .otziv {
        margin-top: 20px;
    } 
}

.otziv1{
    border-radius: 15px;
    border: 1px solid #6D0FCF;
    padding: 40px;
    min-width: 310px;
    min-height: 267px;
    flex: 1 0 25%;
    box-sizing: border-box;
}
.otziv1 img {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    aspect-ratio: 1;

}
.otziv{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.otzivG{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.flexblock6{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

@media (max-width: 1280px) {
    .flexblock6 {
        flex-direction: column-reverse;
    }
}

.hr{
    
    border: none; 
    background-color: rgb(255, 255, 255); 
    color: rgb(255, 255, 255); /* Цвет линии для IE6-7 */
    height: 1px; 
}
.block{
    margin: 120px 0;
    background-image: url("IMG GLAVNAI/градиент.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
    border-radius: 20px;
}
.minibl{
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
    box-sizing: border-box;
}

@media (max-width: 1280px) {
    .block {
        margin: 60px 0;
        overflow: hidden;
    }

    .minibl {
        padding: 60px;
    }

    .minibl .subtitle2 {
        font-size: 36px;
    }

    .minibl .text2 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .block {
        height: auto;
    }

    .minibl {
        padding: 30px;
    }

    .minibl .subtitle2 {
        font-size: 24px;
    }

    .minibl .text2 {
        font-size: 18px;
    }
}

.block6{
    margin-top: 120px;
}

@media (max-width: 768px) {
    .block6 {
        margin-top: 40px;
    }

    .block6 .flexblock6 {
        margin: 20px 0;
    }
}


.gren{
    width: 325px;
    height: 60px;
    background-color: #8EEA19;
    font-family: "Inter";
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: none;
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .gren {
        margin-top: 20px;
        font-size: 18px;
    }
}

/* Эффект */
.gren:hover {
    background-color: #7ddd00; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.gren:active {
    background-color: #ffffff;
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.block7{
    margin-top: 120px;
}
.flexblock7{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .block7 {
        margin-top: 40px;
    }

    .block7 .flexblock7 {
        margin-top: 20px;
    }
}

.textfl{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    width: 325px;
    height: 120px;
    justify-content: center;
    box-sizing: border-box;
}
.flextext{
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.iheikiflex7{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cartohrkiflex{
    border-radius: 15px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    width: 325px;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.events-cards {
    display: flex; 
    gap: 40px; 
    margin-top: 40px; 
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .flexblock7 {
        justify-content: center;
    }

    .events-cards {
        gap: 80px;
        justify-content: center;
    }

    .block7 .subtitle {
        text-align: left;
    }
}


.events-cards .card-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}


.slaider{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.vibor{
    display: flex;
    gap: 95px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;
}
.forma{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fiolGrand{
    width: 325px;
    height: 60px;
    background-color: #6D0FCF;
    font-family: "Inter";
    font-size: 24px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
}
/* Эффект */
.fiolGrand:hover {
    background-color: #8a1dff; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.fiolGrand:active {
    background-color: #000000;
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input .c ::placeholder{
display: flex;
}
input.text{
    color: #000;
}
.line-3 * {
  box-sizing: border-box;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  height: 0px;
  position: relative;
  margin-top: 120px;
}

.code{
    font-family: 'Kanit Cyrillic'; 
    font-size: 32px;
    color: white;
}
.ICONS{
    display: flex;
    gap: 35px;
    margin-top: 40px;
    align-items: center;
}
.flexfooter1{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.flexfooter2{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
}
.flexfooter3{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
}
.flexfooter{
    display: flex;
    align-items: center;
    gap: 25px;
}
.perexod{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footerbooton{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.plahka-block {
    margin: 0 auto;
    box-sizing: border-box;
    width: 90%;
    padding: 80px;
    border-radius: 10px;
    
    border: 3px solid transparent;
    border-image: linear-gradient(to right, 
        #FFFFFF 0%, 
        #000000 58%, 
        #FFFFFF 100%) 1;
    position: relative;
    box-shadow: 0 0 0 0 transparent; /* Если нужны эффекты тени, можно добавить здесь */
    filter: blur(0); /* Если нужно размытие, можно добавить здесь */
    box-sizing: border-box;
}
.plahka{
    background-image: url("IMG GLAVNAI/белая штука.png");
    display: flex;
    align-items: baseline;
    gap: 20px;
}
.plahka form {
    background-image: url(IMG\ GLAVNAI/градиент1.png); 
    padding: 50px; 
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.plahka form input {
    min-height: 65px; 
    max-height: 65px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 100%;
    color: #000;
}
.plahka form textarea {
    min-height: 120px; 
    max-height: 120px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 100%;
    resize: none;
    color: #000;
}

@media (max-width: 1280px) {
    .plahka-block {
        padding: 20px;
    }

    .plahka {        
        flex-direction: column;
        gap: 50px;
    }

    .plahka form {
        box-sizing: border-box;
        padding: 20px;
    }

    .fiolGrand {
        max-width: 325px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .fiolGrand {
        font-size: 18px;
    }

    .plahka-block {
        margin-bottom: -60px;
    }
}
  /* width: 325px;
  height: 418px; */

.block8 {
  width: 100%;
  margin: 120px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.block8 .subtitle {
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .block8 {
        margin: 40px 0;
    }
}

.slider-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.slide {
    height: 100%;
    flex-shrink: 0;
    min-width: 325px;
    max-width: 325px;
}

@media (max-width: 768px) {
    .slider {
        gap: 20px;
    }

    .slide {
        min-width: 50%;
        max-width: 50%;
    }
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .slider-nav {
        margin-bottom: 30px;
    }
}

.slider-nav button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #8EEA19;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-nav button.active {
    background-color: #ffffff;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #8EEA19;
    color: #000;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background-color 0;
    transition: 0.1s ease-in-out;
    margin: 0 50px;
}

.slider-arrow:hover {
    opacity: 0.8;
}

.slider-arrow.prev {
    left: 20px;
}

.slider-arrow.next {
    right: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
}

.controls button:hover {
  transform: scale(1.1);
}

.controls button img {
  width: 40px;
  height: 40px;
}

.footer .container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 90px;
}

.footer {
    box-sizing: border-box;
    padding-bottom: 20px;
}

@media (max-width: 962px) {
    .footer .container {
        flex-direction: column;
        gap: 60px;
    }

    .footer .perexod {
        align-items: center;
    }

    .footer #filials {
        text-align: center;
    }

    .footer .footerbooton {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
    }

    .footer .footerbooton .minitext {
        font-size: 16px;
    }
}

.footer p {
    text-align: left;
}

.ICONS {
    justify-content: center;
    gap: 20px
}

.ICONS img {
    width: 35px;
}

.footer .footer-logo {
    display: flex; 
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer .footer-logo img {
    width: 80px;
    height: 58px;
}

.footer .footer-logo .code {
    font-size: 22px;
}


@media (max-width: 768px) {
    .footer .footer-logo {
        gap: 10px;
    }

    .footer .footer-logo img {
        width: 60px;
        height: 42px;
    }

    .footer .footer-logo .code {
        font-size: 16px;
    }

    .ICONS {
        gap: 20px;
    }

    .ICONS img {
        width: 35px;
    }
}


#accountButton {
    border: none;
    background: transparent;
}


.plahka input[type="checkbox"] {
    width: 40px;
}

@media (max-width: 768px) {
    .plahka input[type="checkbox"] {
        width: 40px;
    }

    .plahka .minitext {
        font-size: 18px;
    }
}


.card-item .textfl .xz {
    margin-bottom: 0;
}

.card-item .cartohrkiflex .xz {
    margin-bottom: 20px;
}


@media (min-width: 1280px) {
    #navList {
        width: 100%;
        justify-content: start;
    }

    #navList li:first-child {
        margin-left: auto;
    }

    #navList li:nth-last-child(2) {
        margin-right: auto;
    }
}
